@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");

/*****************************
    RESET
*****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

em {
  font-family: "Domine", serif;
}

p {
  color: #878787;
  font-weight: 300;
}

h2 {
  font-size: 50px;
  font-weight: 400;
}

h4 {
  font-weight: 500;
}

/*****************************
    BASIC STYLE
*****************************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-large {
  max-width: 1700px;
  margin: 0 auto;
}

.header-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.arrow-up {
  position: absolute;
  right: 10px;
  background-color: #c0e1cf;
  width: 30px;
  height: 30px;
  padding: 8px;
}
